# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
